.detail {
    width:800px;
    margin: 0 auto; 
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #000000;
    background-color: #7193af;
    border-radius: 10px;
}
.detail h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #000000;
}
.detail img{
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto 20px;
    border-radius: 10px;
}
.detail h3 {
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #292929;
    border-bottom: 2px solid #093769;
    padding-bottom: 5px;
}
.detail ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
.detail ul li{
    font-size: 1rem;
    margin: 5px;
    padding: 5px 10px;
    background-color: #fff;
    border: 1px solid black;   
    border-radius: 5px;
}
.detail p{
    font-size: 1rem;
    margin-top: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #080808;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}